* {
margin: 0;
padding: 0;
box-sizing: border-box;



}

body{
background-color: blanchedalmond;
display:flex

}




.base1 {
    background-color: rgb(179, 195, 223);
    border: auto solid rgb(101, 101, 230);
    flex-direction: column;
    padding: 20px;
    margin: 2px;
    margin-left: 100px;
    width: 250px;
    height: 660px;
    text-align: start;

}



#titulo-nombre {
    color: rgb(41, 41, 132);
    font-size: 50px;

}

#titlulo-aptitud {

    text-align: center;
    
}
#titulos {
text-align: start;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 0;
color: rgb(71, 71, 142);




}

#parrafos {
 
    text-align: start;
    padding-right: 20px;
    padding-left: 20px;


}

.base2{
background-color: bisque;
margin-top: 5px;
text-align: center;
margin-right: 100px;
padding-top: 15px;
width: 700px;


}
img {

 width: 200px;
 height: 200px;
 border-radius: 5px;
 padding-bottom: 10px;
}

